{% extends "blog/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="">

            <div class="jumbotron jumbotron-brandpromo" >
                <h1 class="service-heading">Brand Promotion Services</h1>
            </div>

            <div class="container">

            <hr id="overview">
            <br><br><br><br>

            <h1>Overview</h1>
                
                <ul class="service-list">
                <li><a href="#one">Field Promotoers</a></li>
                <li><a href="#two">Online Marketing and Advertising</a></li>
                <li><a href="#three">Brand Activation Campaigns</a></li>
                <li><a href="#four">Promoter Stand Design</a></li>
                <li><a href="#five">Data Collection</a></li>
                <li><a href="#six">Promotional Stuffing</a></li>
                <li><a href="#seven">Marketing Strategies</a></li>
                <li><a href="#eight">Product and Sample Distribution</a></li>
                <li><a href="#nine">Brand Training for In-Store Promoters</a></li>
    
                </ul>
            </div>

            <div class="container">
                <div id="one">
                    <br>
                    <hr>
                    <h1><a href="#overview">Field Promotoers</a></h1>

                    <p>
                        Our field promoters are professionals dedicated on demonstrating the features of a product or providing information about services to an audience or client. Promoter responsibilities include, answering questions and aim to motivate consumers to purchase a product or service.
                    </p>
                </div>

                <div id="two">
                    <br>
                    <hr>
                    <h1><a href="#overview">Online Marketing and Advertising</a></h1>

                    <p>
                        Our digital and online marketing strategies aim at reaching new customers and finding target audience that are interested in your product or service. Our digital marketing efforts include, Email marketing, social media, Go Crazy Website and GC Whatsapp Status Upload. (Pay-per-click advertising).
                    </p>
                </div>
                <div id="three">
                    <br>
                    <hr>
                    <h1><a href="#overview">Brand Activation Campaigns</a></h1>

                    <p>
                        Our brand activation campaign approaches intend on creating an effective interaction and establish lasting connect to a target market and also serve as a amplification chamber that pushes your brand to reach higher levels of bond trust between brand and consumers. 
                    </p>
                </div>
                <div id="four">
                    <br>
                    <hr>
                    <h1><a href="#overview">Promoter Stand Design</a></h1>

                    <p>
                        It is vitally essential to present your brand suitably to your target audience. Therefore, our services include promoter stand quality design that will help to display and showcase your brand fittingly and efficiently to emulate the crucial message of your brand and effectively communicates the motto of your company. 
                    </p>

                    <ul>
                        <li>Easy to transport, carry and set up</li>
                        <li>Able to be set up in small spaces</li>
                        <li>Made for long term use</li>
                        <li>Suitably small size</li>
                    </ul>
                </div>
                <div id="five">
                    <br>
                    <hr>
                    <h1><a href="#overview">Data Collection</a></h1>

                    <p>
                        We offer data collection services for market research purposes that aim at direct interaction and understanding consumers while they are in a natural environment. Our street team are well trained professionals to conduct field work collecting data by means of:
                    </p>

                    <ul>
                        <li>Surveys and Questionnaires</li>
                        <li>Observations</li>
                        <li>Running Competitions</li>
                        <li>Providing Customer Feedback </li>
                    </ul>
                </div>
                <div id="six">
                    <br>
                    <hr>
                    <h1><a href="#overview">Promotional Stuffing</a></h1>
                    <p>
                        At Go Crazy Experience we supply young, fresh and talented professionals, as we believe that good promotional staff can be hard to find. Therefore, each individual member in our data base is carefully selected to fit any brand and campaign. Our promotional staff are well trained individuals who are confident, committed at work to demonstrate, inform and motivate a lasting connection between a brand and consumers and also providing the best customer experience. We offer:
                    </p>
    
                    <ul>
                        <li>Promotional Staff</li>
                        <li>Brand Ambassador</li>
                        <li>Hostesses</li>
                        <li>Promotional Models</li>
                        <li>Event Staff</li>
                        <li>Meet & Greet Promotional Staff</li>
                        <li>Roadshow Promotional Teams</li>
                        <li>Exhibition Promotional Staff</li>
                        <li>Pamphlets Promotional Teams</li>
                    </ul>
                </div>

                <div id="seven">
                    <br>
                    <hr>
                    <h1><a href="#overview">Marketing Strategies</a></h1>

                    <p>
                        The Go Crazy Marketing Team offer the best quality expertise in planning and implementing the most efficient strategic techniques for business to obtain revenue and retain customer loyalty.
                    </p>

                </div>
                <div id="eight">
                    <br>
                    <hr>
                    <h1><a href="#overview">Product and Sample Distribution</a></h1>

                    <p>
                        One important factor to consider is that users really like to try before they purchase, especially if the product or service is new on the market. Our product and sample distribution promoters are trained to conduct a direct interaction to ensure that the chosen audience receives item information easily, including offering free samples to consumers on set locations and providing customer feedback about the product.
                    </p>

                </div>
                <div id="nine">
                    <br>
                    <hr>
                    <h1><a href="#overview">Brand Training for In-Store Promoters</a></h1>

                    <p>
                        We provide brand training to promoters intending to build and transform promoters to be the most powerful tool to spread organic brand awareness and to extend the influence of your brand. Our training aim at providing ways for promoters to promote your brand effectively and efficiently as well as, preparing them to present and communicate your brand well to the target audience, including being the loyal enthusiast of your brand.
                    </p>
                </div>
            </div>
            
            
        </div>
    
    </div>
</div>

{% endblock content %}