{% extends "blog/base.html" %}

{% block content %}

<div class="container">

    <div class="jumbotron jumbotron-about" >
        <h1>Contact Us</h1>
    </div>
    
    <div class="row">
        <div class="">

            <div>
                
                  <ul class="service-list">
                    <!-- <li><a class="dropdown-item" href="#">Address</a></li> -->
                    <li><a class="dropdown-item" href="#"> Email :
                        <ul>
                            <li>balalulama@gmail.com</li>
                            <li>nngubelanga65@outlook.com</li>
                        </ul>
                    </a></li>
                    <li><a class="dropdown-item" href="#">Contact:
                        <ul>
                            <li>068 127 8553</li>
                            <li>066 295 8811</li>
                        </ul>
                    </a></li>

                    <li><a class="dropdown-item" href="#">Social Media:
                        <ul>
                            <li>IG - GCExprnc</li>
                            <li>Twitter - GCExprnc</li>
                            <li>Facebook - GoCrazyExprnc</li>
                        </ul>
                    </a></li>
                   
                  </ul>
            </div>
            
            
        </div>
    
    </div>
</div>

{% endblock content %}