{% extends "blog/base.html" %}

{% block content %}

<div class="container">

    <div class="jumbotron jumbotron-about" >
        <h1>Exclusive <span class='hub'>Hub</span></h1>
    </div>
    
    <div class="row">
        <div class="">

            <div>
                
                  <ul class="service-list">
                    <li><a class="dropdown-item" href="#">Hubbly Rentals</a></li>
                    <li><a class="dropdown-item" href="#">Resident DJ Booking</a></li>
                    <li><a class="dropdown-item" href="#">Hostess Booking</a></li>
                   
                  </ul>
            </div>
            
            
        </div>
    
    </div>
</div>

{% endblock content %}