{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<div class="container">


        <div class="jumbotron jumbotron-about" >
            <h1>Recruitment</h1>
        </div>


    <div class="row">

        <div class="col-md-4">
            <!-- <h4 class="recruit">Creatives</h4> -->

            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/creatives.png">
            </div>

        </div>
        <div class="col-md-4">
            <!-- <h4 class="recruit">Models</h4> -->

            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/models.png">
            </div>
              
        </div>
        <div class="col-md-4">
            <!-- <h4 class="recruit">Dancers/Choreographers</h4> -->

            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/dancers.png">
            </div>

        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-md-4">
            <!-- <h4 class="recruit">Actors</h4> -->

            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/actorss.png">
            </div>

        </div>
        <div class="col-md-4">
           <!-- <h4 class="recruit">IT Specialists</h4> -->

           <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/it.png">
          </div>

        </div>
        <div class="col-md-4">

            <!-- <h4 class="recruit">Make-Up Artists</h4> -->

            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/make.png">
            </div>

        </div>
    </div>

    <br>

    <div class="row">

        <div class="col-md-4">

            <!-- <h4 class="recruit">Fashion Designers</h4> -->

            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/fashion.png">
            </div>

        </div>
        <div class="col-md-4">

            <!-- <h4 class="recruit">Graphic Designers</h4> -->

            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/graphic.png">
            </div>

        </div>

        <div class="col-md-4">

            <!-- <h4 class="recruit">Journalists</h4> -->
            
            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/journal.png">
            </div>

        </div>
    </div>
    
    <br>

    <div class="row">

        <div class="col-md-4">
            <!-- <h4 class="recruit">Hair Stylists</h4> -->

            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/hair.png">
            </div>

        </div>
        <div class="col-md-4">

            <!-- <h4 class="recruit">Sound Engineers</h4> -->

            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/sound.png">
            </div>

        </div>
        <div class="col-md-4">

            <!-- <h4 class="recruit">Musicians/Artists</h4> -->

            <div class="">
                <img class="" height="200px" width="auto" src="https://rad-blog-files.s3.us-west-2.amazonaws.com/recruit/music.png">
            </div>

        </div>
    </div>           
   
</div>

{% endblock content %}