{% extends "blog/base.html" %}

{% block content %}

<div id="top" class="container">

    <div  class="jumbotron jumbotron-about" >
        <h1>The Go Crazy Experience Production Team</h1>
    </div>
    
    <div class="row">
        <div class="col-md-12 contact-team">

            <h4>Nash - <small class="text-muted">Director</small></h4>
            <ul class="contact-list">
                <li>Running & Operating in all relevant departments</li>
                <li>Decision Maker</li>
            </ul>
            <p>Contact - 068 127 8553</p>
            <p>Email - internashional12@gmail.com/nngubelanga65@outlook.com</p>
            <br>
            <hr>
            

            <h4>Lujax - <small class="text-muted">Director</small></h4>
            <ul class="contact-list">
                <li>Running & Operating in all relevant departments</li>
                <li>Decision Maker</li>
            </ul>
            <p>Contact - 066 295 8811</p>
            <p>Email - balalulama@gmail.com</p>
            <br>
            <hr>

            <h4>Nkululeko - <small class="text-muted">Creative/ Brand Ambassador</small></h4>
          
            <p>Contact - 078 610 5751</p>
            <p>Email - leko.menziwa@gmail.com</p>
            <br>
            <hr>

            <h4>Andile - <small class="text-muted">Graphic Designer</small></h4>
          
            <p>Contact - 082 719 9290</p>
            <p>Email - sopringan@gmail.com</p>
            <br>
            <hr>

            <h4>Nangamso "Soso" - <small class="text-muted">Creative/ Brand Ambassador</small></h4>
          
            <p>Contact - 084 796 4003</p>
            <br>
            <hr>

            <h4>Vuyo Bolo - <small class="text-muted">Creative Designer</small></h4>
          
            <p>Contact - 078 684n9909</p>
            <br>
            <hr>
<h2 id="about">
    text
    <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#about" style="padding-left: 0.375em;"></a>

</h2>

            <p><a class="btn btn-outline-info" href="#top">Top</a></p>
            
        </div>

    
    </div>
</div>

{% endblock content %}